.hover-underline {
  display: inline-block;
  position: relative;
}

.hover-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.5px;
  bottom: -2.5px;
  left: 0;
  background-color: #D19A66;
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.hover-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
