@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force darkmode background until lightmode has been designed */
:root {
  background-color: #0d0d0d;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s;
    -webkit-text-fill-color: #fff !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #0d0d0d;
  }
}

body {
  color: #dadde2;
  max-width: 70em;
  margin: 7.5em auto 2em;
  padding-right: 50px;
  padding-left: 50px;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
