@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #161616;

  /* Hero Section Colors */
  --hero1: #f0f0f0;
  --hero2: #f0f0f0;
  --hero3: #f0f0f0;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s;
    -webkit-text-fill-color: #fff !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #161616;
  }
}

body {
  color: #dadde2;
  max-width: 70em;
  margin: 7.5em auto 2em;
  padding-right: 50px;
  padding-left: 50px;
  width: 100%;
}

@media not all and (min-width: 500px) {
  body {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
